body{	
    background-color: azure ;/*Probar con: beige, whitesmoke, GhostWhite */;
}
h1 {
    color: black;
    margin-left: 20px;    
}

.lista_scroll{
    height: 100px;
    overflow: auto;
}

.border{
	border-style: solid;
	border-width: 0.5px;
	border-color: Gainsboro ;	
}

.sig{
	background-color: white	
}

.boton_agregar{
	position: relative;
	left: 30%;
}

