{% extends 'base_admin_s.html' %}

{% block title %}Auditor{% endblock title %}

{% block content %}

<div class="container">  
  <h1 class="page-header">Administración del sitio    
  </h1>
</div>
<div class="container">
  <div class="navbar-collapse collapse" id="navbar-main">
      <ul id="nav" class="nav navbar-nav">                
        <li>
          <button type="button" id = "editar" class="btn btn-default navbar-btn ">
	  Editar Destacado
	  </button>
        </li>
        <li>
          <button type="button" id= "ver" class="btn btn-default navbar-btn ">
          Ver Informe de cambios
	  </button>         
        </li>        
    </ul>
  </div>  
</div>

<div class="container">
  <div class="editar">
    <form action="/admin_sitio" method="POST">
	{% csrf_token %}
	<div class="col-md-12">
	  <table class="table">
	    <thead>
	      <tr>
	        <th>Trámite</th>
                <th>Destacado</th>        
	      </tr>
	    </thead>
	    <tbody>            
	      {% for elemento in lista_tramites %}
	      {% for ficha in lista_fichas %}
	      <tr>
		{% if ficha.tramite_id == elemento.tramite_id %}
		  {% if ficha.ficha_destacado %}
		    <td>{{elemento.tramite_titulo}}</td>
                    <td><input type="checkbox" name="{{elemento.tramite_id}}_d" value="yes" checked></td>
		  {% else %}
		    <td>{{elemento.tramite_titulo}}</td>
		    <td><input type="checkbox" name="{{elemento.tramite_id}}_d" value="yes"></td>
		  {% endif  %}
		{% endif  %}
	      </tr>
	      {% endfor %}
	      {% endfor %}
	    </tbody>
	  </table>
	</div>
	<div class="col-md-12">
	  <input type = "submit" value="Finalizar">
	</div>
    </form>
  </div>
  <div class="ver">
    <div class="col-md-6"> Nombre del administrador </div>
    <div class="col-md-6"> Nombre del trámite </div>
    <div class="col-md-4 lista_scroll">
    {% for elemento in lista_usuarios %}
	<div class="col-md-10">
	  {{ elemento.usuario_nombre }}
        </div>
        <div class="col-md-2">
	  <input type="checkbox" name="{{elemento.usuario_nombre}}_d" value="yes">
        </div>
    {% endfor %}
    </div>

    <div class="col-md-6 lista_scroll">
    {% for elemento in lista_tramites %}
	<div class="col-md-10">
	  {{ elemento.tramite_titulo }}
        </div>
        <div class="col-md-2">
	  <input type="checkbox" name="{{elemento.tramite_titulo}}_d" value="yes">
        </div>
	<div class="col-md-10">
	  {{ elemento.tramite_titulo }}
        </div>
        <div class="col-md-2">
	  <input type="checkbox" name="{{elemento.tramite_titulo}}_d" value="yes">
        </div>
    {% endfor %}
    </div>
    <div class="col-md-2">
	<br><br><br><br>
	<button type="button" id = "ver_informe" class="btn btn-default navbar-btn ">
	  Ver Informe
	</button>
    </div>
  </div>
</div>


<script type="text/javascript">
</script>
    
  
{% endblock %}
