{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">
  <form action="/agregar_requisito/" method="POST">
	{% csrf_token %}
	<div class="container">
	  <br><br><br>
	  <div class = "row-fluid">							
	    <div class="panel panel-info">
	      <div class="panel-heading">
	        <h3 class="panel-title">Agregar requisito:</h3>
	      </div>
	      <div class="panel-body">
		<div class="col-md-12">
		  <div class="col-md-2">
		    Título:
		  </div>
		  <div class="col-md-10">
		    <input type="text" name="nombre" size="100">
		  </div>
		</div><br><br><br><br>
		<div class="col-md-12">
		  <div class="col-md-2">
		    Descripción:
		  </div>
		  <div class="col-md-10">
		    <input type="text" name="descripcion" size="100">
		  </div>
		</div>
	      </div>				
	    </div>
	  </div>
	</div>	
	<div class="container">
	  <div class="col-md-12">
	    <input type = "submit" value="Agregar">
	  </div>
	</div>
  </form>				
</div>       


{% endblock %}
