{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">
  <form action="/agregar_tramite/" method="POST">
	{% csrf_token %}
	<h1>Agregar Trámite:	  
	</h1>
	<br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Nombre del trámite:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="nombre" size="120">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Descripción:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="descripcion" size="120">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-2">	
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Duración Anual:</h3>
				   </div>
				   <div class="panel-body">
			             <input type="checkbox" name="dur_anual">			      			      
				   </div>				
				</div>
			</div>	
			<div class="col-md-3">								
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Inicio:</h3>
				   </div>
				   <div class="panel-body">
					<input type="text" name="inicio">
				   </div>
				</div>					
			</div>
			<div class="col-md-3">								
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Fin:</h3>
				   </div>
				   <div class="panel-body">
					<input type="text" name="fin">
				   </div>
				</div>					
			</div>		
			<div class="col-md-4">								
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Resultado Final:</h3>
				   </div>
				   <div class="panel-body">
					<input type="text" name="resultado">
				   </div>
				</div>					
			</div>	
		</div>	
	</div>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-12">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Seleccione los requisito relacionados:</h3>
				   </div>
				   <div class="panel-body">
				      <div class="col-md-12">
				        {% for elemento in requisitos %}
					<div class="col-md-10">
					  {{ elemento.requisito_titulo }}
					</div>
					<div class="col-md-2">
					  <input type="checkbox" name="{{elemento.requisito_id}}_r" value="yes">
					</div>
				        {% endfor %}
				      </div>
				   </div>
				</div>
			</div>

			<div class="col-md-12">
			  <a href="/agregar_requisito/" title="Haz click para agregar nuevo requisito">Agregar nuevo Requisito</a>
			</div>
		</div>	
	</div><br><br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-12">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Seleccione los documentos relacionados:</h3>
				   </div>
				   <div class="panel-body">
				      <div class="col-md-12">
				        {% for elemento in documentos %}
					<div class="col-md-10">
					  {{ elemento.documento_titulo }}
					</div>
					<div class="col-md-2">
					  <input type="checkbox" name="{{elemento.documento_id}}_d" value="yes">
					</div>
				        {% endfor %}
				      </div>
				   </div>
				</div>
			</div>

			<div class="col-md-12">
			  <a href="/agregar_documento/" title="Haz click para agregar nuevo documento">Agregar nuevo documento</a>
			</div>
		</div>	
	</div><br><br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-12">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Seleccione las leyes relacionados:</h3>
				   </div>
				   <div class="panel-body">
				      <div class="col-md-12">
				        {% for elemento in leyes %}
					<div class="col-md-10">
					  {{ elemento.ley_titulo }}
					</div>
					<div class="col-md-2">
					  <input type="checkbox" name="{{elemento.ley_id}}_l" value="yes">
					</div>
				        {% endfor %}
				      </div>
				   </div>
				</div>
			</div>

			<div class="col-md-12">
			  <a href="/agregar_ley/" title="Haz click para agregar nueva ley">Agregar nueva ley</a>
			</div>
		</div>	
	</div><br><br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-12">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Seleccione los organismos relacionados:</h3>
				   </div>
				   <div class="panel-body">
				      <div class="col-md-12">
				        {% for elemento in organismos %}
					<div class="col-md-10">
					  {{ elemento.organismo_nombre }}
					</div>
					<div class="col-md-2">
					  <input type="checkbox" name="{{elemento.organismo_id}}_o" value="yes">
					</div>
				        {% endfor %}
				      </div>
				   </div>
				</div>
			</div>

			<div class="col-md-12">
			  <a href="/agregar_organismo/" title="Haz click para agregar nuevo organismo">Agregar nuevo organismo</a>
			</div>
		</div>	
	</div><br><br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-12">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Seleccione las categorias relacionados:</h3>
				   </div>
				   <div class="panel-body">
				      <div class="col-md-12">
				        {% for elemento in categorias %}
					<div class="col-md-10">
					  {{ elemento.categoria_titulo }}
					</div>
					<div class="col-md-2">
					  <input type="checkbox" name="{{elemento.categoria_id}}_c" value="yes">
					</div>
				        {% endfor %}
				      </div>
				   </div>
				</div>
			</div>
		</div>	
	</div><br><br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-12">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Seleccione las modalidades relacionados:</h3>
				   </div>
				   <div class="panel-body">
				      <div class="col-md-12">
				        {% for elemento in modalidades %}
					{% if elemento.modalidad_titulo %}
					<div class="col-md-10">
					  {{ elemento.modalidad_titulo }}
					</div>
					<div class="col-md-2">
					  <input type="checkbox" name="{{elemento.modalidad_id}}_m" value="yes">
					</div>
					{% endif %}
				        {% endfor %}
				      </div>
				   </div>
				</div>
			</div>
		</div>	
	</div><br><br>
	<div class="container">
		<div class="col-md-12">
			<input type = "submit" value="Agregar">
		</div>
	</div>
  </form>				
</div>       


{% endblock %}
