{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">
  <form action="/agregar_organismo/" method="POST">
	{% csrf_token %}
	<h1>Agregar Organismo
	</h1>
	<br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Nombre del organismo:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="nombre" size="120">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Descripción:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="descripcion">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">		
			<div class="col-md-4">			
					
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Teléfono Fijo:</h3>
				   </div>
				   <div class="panel-body">
				     <input type="text" name="telefono_fijo">
				   </div>
				</div>					
			</div>		
			<div class="col-md-4">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Celular:</h3>
				   </div>
				   <div class="panel-body">
				     <input type="text" name="celular">
				   </div>
				</div>
			</div>
			<div class="col-md-4">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Página Web:</h3>
				   </div>
				   <div class="panel-body">
				     <input type="text" name="pagina">
				   </div>
				</div>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="col-md-12">
			<input type = "submit" value="Agregar">
		</div>
	</div>
  </form>				
</div>       


{% endblock %}
