{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">
  <form action="/agregar_documento/" method="POST">
	{% csrf_token %}
	<h1>Agregar Documento	  
	</h1>
	<br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Nombre del documento:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="nombre" size="120">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-5">	
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Descripción:</h3>
				   </div>
				   <div class="panel-body">
			             <input type="text" name="descripcion">			      			      
				   </div>				
				</div>
			</div>	
			<div class="col-md-3">								
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Tipo documento:</h3>
				   </div>
				   <div class="panel-body">
					<input type="text" name="tipo">
				   </div>
				</div>					
			</div>		
			<div class="col-md-4">						
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Formato y costo</h3>
				   </div>
				   <div class="panel-body">
					<div class="col-md-6">
					  Formato:<br>
					  <input type="checkbox" name="virtual" value="yes">Virtual<br>
					  <input type="checkbox" name="fisico" value="yes">Físico<br>
				        </div>
					<div class="col-md-6">
					  Costo (virtual):<br>
					  <input type="text" name="costo_virtual" value="0" size="10">
					  Costo (fisico):<br>
					  <input type="text" name="costo_fisico" value="0" size="10">
				        </div>
				   </div>
				</div>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="col-md-12">
			<input type = "submit" value="Agregar">
		</div>
	</div>
  <form>
</div>       

{% endblock %}
