{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">
  <form action="/agregar_actividad/" method="POST">
	{% csrf_token %}
	<h1>Agregar Actividad:	  
	</h1>
	<br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Nombre de la Actividad:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="nombre" size="120">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Descripción:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="descripcion" size="120">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Seleccione las modalidades al cual pertenece:</h3>
			   </div>
			   <div class="panel-body">
				<table class="table">
				    <thead>
				      <tr>
					<th>Nombre</th>
					<th>Pertenece</th>
					<th>Duracion</th>
					<th>Costo</th>
					<th>Pasos</th>
					<th>Contacto</th>
					<th>Nota</th>
				      </tr>
				    </thead>
				    <tbody>            
				      {% for elemento in modalidades %}
				      {% if elemento.modalidad_titulo %}	    
				      <tr>
					<td>{{ elemento.modalidad_titulo}}</td>
					<td><input type="checkbox" name="{{elemento.modalidad_id}}_m" value="yes"></td>
					<td><input type="text" name="{{elemento.modalidad_id}}_duracion"></td>
					<td><input type="text" name="{{elemento.modalidad_id}}_costo"></td>
					<td><input type="text" name="{{elemento.modalidad_id}}_paso"></td>
					<td><input type="text" name="{{elemento.modalidad_id}}_contacto"></td>
					<td><input type="text" name="{{elemento.modalidad_id}}_nota"></td>
				      </tr>
				      {% endif %}
				      {% endfor %}
				    </tbody>
				  </table>				    
			   </div>		
			</div>		
			<div class="col-md-12">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Seleccione los documentos asociados:</h3>
				   </div>
				   <div class="panel-body">
					<table class="table">
					  <thead>
					    <tr>
				              <th>Nombre de Documento</th>
					      <th>Pertenece</th>
					      <th>Documento entregable</th>
					    </tr>
					  </thead>
					  <tbody>            
					    {% for elemento in documentos %}
 				            <tr>
					      <td>{{ elemento.documento_titulo }}</td>
					      <td><input type="checkbox" name="{{elemento.documento_id}}_d" value="yes"></td>
					      <td><input type="checkbox" name="{{elemento.documento_id}}_entrega" value="yes"></td>
					    </tr>
					    {% endfor %}
					  </tbody>
					</table>				      
				   </div>
				</div>
			</div>
			<div class="col-md-12">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Seleccione las oficinas relacionadas:</h3>
				   </div>
				   <div class="panel-body">
				      <div class="col-md-12 lista_scroll">
				        {% for elemento in oficinas %}
					<div class="col-md-10">
					  {{ elemento.oficina_nombre }}
					</div>
					<div class="col-md-2">
					  <input type="checkbox" name="{{elemento.oficina_id}}_o" value="yes">
					</div>
				        {% endfor %}
				      </div>
				   </div>
				</div>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="col-md-12">
			<input type = "submit" value="Agregar">
		</div>
	</div>
  </form>				
</div>       


{% endblock %}
