{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">
  <form action="/agregar_oficina/" method="POST">
	{% csrf_token %}
	<h1>Agregar Oficina
	</h1>
	<br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Nombre de la oficina:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="nombre" size="120">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Dirección:</h3>
			   </div>
			   <div class="panel-body">
		             <input type="text" name="direccion">
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">		
			<div class="col-md-4">			
					
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Teléfono Fijo:</h3>
				   </div>
				   <div class="panel-body">
				     <input type="text" name="telefono_fijo">
				   </div>
				</div>					
			</div>		
			<div class="col-md-4">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Celular:</h3>
				   </div>
				   <div class="panel-body">
				     <input type="text" name="celular">
				   </div>
				</div>
			</div>
			<div class="col-md-4">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Horario de atención:</h3>
				   </div>
				   <div class="panel-body">
				     <input type="text" name="horario">
				   </div>
				</div>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="col-md-6">
			<div class="panel panel-info" >
			   <div class="panel-heading">
			      <h3 class="panel-title">Seleccione el organismo al que pertenece:</h3>
			   </div>
			   <div class="panel-body">
				<select name="id_organismo" size="1">
				  {% for elemento in organismos %}
				  <option value="{{elemento.organismo_id}}">{{elemento.organismo_nombre}}</option>			  
				  {% endfor %}
				</select>
			   </div>
			</div>
		</div>
		<div class="col-md-6">
		  <div class="panel panel-info" >
                    <div class="panel-heading">
                      <h3 class="panel-title">Seleccione la comuna a la que pertenece:</h3>
	            </div>
                    <div class="panel-body">
		      <select name="id_comuna" size="1">
	                {% for elemento in comunas %}
		        <option value="{{elemento.comuna_id}}">{{elemento.comuna_nombre}}</option>			  
		        {% endfor %}
		      </select>
		    </div>
		  </div>					      	
		</div>
	</div>
	<div class="container">
		<div class="col-md-12">
			<input type = "submit" value="Agregar">
		</div>
	</div>
  </form>				
</div>       


{% endblock %}
