<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> {% block title %}Traminet información de trámites en Internet {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Boostrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen">

    <!-- Boostrap core Theme -->
    <link rel="stylesheet" href="/static/theme/usebootstrap.css">
    
    <link rel="stylesheet" href="/static/boostrapvalidator/dist/css/bootstrapValidator.min.css"/>

    <link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

    <style type="text/css">
    .destacados{
    padding: 20px 0;
    text-align: center;
    }
    .destacados > div > div{
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
    }
    .destacados > div:hover > div{
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
    }

   #profileForm .form-control-feedback {
    top: 25px;
    right: 0px;
    }

    #toTop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    }

  
$(document).ready(function() {
    $('#profileForm').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            email: {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The email address is not valid'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'The password is required'
                    }
                }
            }
        }
    });
  });	
  </style>
  </head>

  <body>
    
    {% include 'navbar.html' %}

    <!-- Contenido de la pagina -->
    {% block content %}
    {% endblock %}    

    {% block scripts_validacion %}
    {% endblock %}

    {% block scripts%}
    {% endblock%}

      <!-- Boostrap core Javascript
      ================================
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="/static/js/jquery.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
      <script src="/static/js/usebootstrap.js"></script>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>

      <!-- Boostrapvalidator -->
      <script type="text/javascript" src="/static/boostrapvalidator/dist/js/bootstrapValidator.min.js"></script>
      <script type="text/javascript" src="/static/boostrapvalidator/src/js/language/es_CL.js"></script>

      <!-- Jquery validator -->
     <script src="/static/js/jquery.validate.js"></script>


    <script type="text/javascript">
    $(document).ready(function(){
        $('body').append('<div id="toTop" class="btn btn-info"><span class="glyphicon glyphicon-chevron-up"></span> Volver arriba</div>');
        $(window).scroll(function () {
          if ($(this).scrollTop() != 0) {
          $('#toTop').fadeIn();
        } else {
          $('#toTop').fadeOut();
        }
       }); 
      $('#toTop').click(function(){
          $("html, body").animate({ scrollTop: 0 }, 600);
          return false;
      });
    });

</script>

  </body>

  <footer>
    {% include 'footer.html' %}
  </footer>
</html>
