{% extends 'base.html' %}

{% block title %}Categorías{% endblock title %}

{% block content %}
<head>
	
</head>

<div class="container">
	<h1 class="page-header">Categorías
		<small>Busca tu trámite</small>
	</h1>
	<br> <!-- Espacio-->
	<br> <!-- Espacio-->
	<div><h3>Lista de categorías</h3></div>

		<div class="row">
			<ul>			
			{% for elemento in matriz_categorias %}

				<div class="col-md-3">
					<div>
						<a href='{{elemento.0.categoria_id}}' title="Haz click para buscar los trámites" class="a-text">
						<center><img src="/static/assets/img/categorias/{{elemento.1}}" alt="Texto Alternativo" class="img-circle img-thumbnail"></center>
						</a>
						<h5><center>{{elemento.0.categoria_titulo}}</h5></center>
						<br><br><br>
						
					</div>
				</div>

					<!--<a href='{{elemento.categoria_id}}' title="Haz click para más información" style="text-decoration:none;color:black;">
						{{ elemento.categoria_titulo }}
					</a>-->				
			{% endfor %}
			</ul>
		</div>
	</div>
</div>


{% endblock %}
