{% extends 'base_auditor.html' %}

{% block title %}Auditor{% endblock title %}

{% block content %}

<div class="container">  
  <h1 class="page-header">Configuracion Auditor    
  </h1>
</div>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>TABLA</th>
        <th>REGISTAR</th>
        <th>SELECT</th>
        <th>INSERT</th>
        <th>DELETE</th>
        <th>UPDATE</th>
      </tr>
    </thead>
    <tbody>            
      {% for elemento in lista_tabla %}	    
      <tr>
        <td>{{elemento}}</td>
        <td><input type="checkbox" name="{{elemento}}_r" value="yes"></td>
        <td><input type="checkbox" name="{{elemento}}_s" value="yes"></td>
        <td><input type="checkbox" name="{{elemento}}_i" value="yes"></td>
        <td><input type="checkbox" name="{{elemento}}_d" value="yes"></td>
        <td><input type="checkbox" name="{{elemento}}_u" value="yes"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <input type = "submit" value="Finalizar">

</div>


<script type="text/javascript">
</script>
    
  
{% endblock %}
