{% extends 'base_auditor.html' %}

{% block title %}Auditor{% endblock title %}

{% block content %}

<div class="container">  
  <h1 class="page-header">Consulta Auditor    
  </h1>
</div>
<div class="container">
  <form action="#" method="POST">
    <div class= "row">
      <div class="col-md-4">
	Tablas:
        <select name="accion" size="1">
          {% for elemento in lista_tabla %}
	  <option value="{{ elemento }}">{{ elemento }}</option>
	  {% endfor %}
	  <option value="todo">todo</option>
        </select>
      </div>
      <div class="col-md-2">
	Acción:
        <select name="accion" size="1">
          <option value="select">SELECT</option>
          <option value="insert">INSERT</option>
          <option value="delete">DELETE</option>
          <option value="update">UPDATE</option>
	  <option value="all">Todo</option>
        </select>
      </div>
      <div class="col-md-2">
	Desde:
        <input type="text" name="desde" size="10">
      </div>
      <div class="col-md-2">
	Hasta:
        <input type="text" name="hasta" size="10">
      </div>
      <div class="col-md-2">
	<input type = "submit" value="Consultar">
      </div>
    </div>
  </form> 
</div>


<script type="text/javascript">
</script>
    
  
{% endblock %}
