{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}
<br>
 <!-- Inicio pills -->
    <div class="container">
      <div class="text-center">
        <div class="centered-pills">
          <ul class="nav nav-pills center-pills">
            <li><a href='{% url "home" %}' tile ="Haz click aqui para volver a la página de inicio">Home</a></li>
            <li><a href='{% url "visitados" %}'   title="Haz click para ver los trámites más vistos en el último tiempo"    >Más visitados</a></li>
            <li class = "active"><a href='{% url "destacados" %}'  title="Haz click para ver los trámites destacados del último tiempo"   >Destacados</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- Fin pills -->
    <br><br><br><br>
    <div class="container">
    <div class="container">    

          <ul>
          {% for elemento in tramites_destacados %}
            
          <div class="col-md-5">
          <a href='/tramites/{{elemento.tramite_id}}' title="Haz click para mas información" class="a-text">
                  <div class="well well-lg"> 
                      <div class="row">
                        <div class="col-sm-6">
                          <img src="/static/assets/img/tramites/icono.png" alt="Texto Alternativo" class="img-responsive">
                        </div>
                        <div class="col-sm-6">
                          <h4>{{elemento.tramite_titulo}}</h4>
                        </div>
                      </div>
                  </div>
              </a>
            </div>
          {% endfor %}
          </ul>
        </div>
      </div>              

{% endblock %}
