{% extends 'base.html' %}

{% block title %}Documentos{% endblock title %}

{% block content %}
<div class="container-fluid">

	<h1 class="page-header">Documentos
	<small>Busca tu documento</small>
	  </h1>

	    <div class="row">
	        <div class="col-md-4 col-md-offset-3">
	            <form action="" class="search-form">
	                <div class="form-group has-feedback">
	                <label for="search" class="sr-only">Buscar</label>
	                <input type="text" class="form-control" name="search" id="search" placeholder="search">
	                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
	              </div>
	            </form>
	        </div>
		<div class="boton_agregar">
	    		<form action="/agregar_documento" method="GET">
              			<input type="submit" class="btn btn-default navbar-btn" title="Haz click para agregar documentos" value="Agregar Organismo">
	    		</form>
          	</div>
	    </div>
	    

	<div class = "container-fluid">
		<div class = "row">
			<ul>
				{% for elemento in lista_documentos %}				
				<div class="col-md-4">
					<a href='/documentos/{{elemento.documento_id}}' title="Haz click para ver documento" class="a-text">
						<center> <img src="/static/assets/img/documentos/documento.png" alt="Texto Alternativo" class="img-thumbnail"> </center>						
					</a>
					<h5><center>{{ elemento.documento_titulo }}</h5></center>
				</div>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>

<script type="text/javascript">
</script>

{% endblock %}
