{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<br>
 <!-- Inicio pills -->
    <div class="container">
      <div class="text-center">
        <div class="centered-pills">
          <ul class="nav nav-pills center-pills">
            <li class="active"><a href='{% url "home" %}'>Home</a></li>
            <li><a href='{% url "visitados" %}'   title="Haz click para ver los trámites más vistos en el último tiempo"    >Más visitados</a></li>
            <li><a href='{% url "destacados" %}'  title="Haz click para ver los trámites destacados del último tiempo"   >Destacados</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- Fin pills -->

	<br> <!-- Espacio-->
	<br> <!-- Espacio-->
	<!-- Container que contiene todo el body-->
	<div id="show" class="container">
		<!-- Container carousel -->
		<div class="container">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				
				<!-- Contenido de slides -->
				<div class="carousel-inner">
					<div class="item active">
						<img src="static/assets/img/home/carrucel1.png" alt="...">
						<div class="carousel-caption">							
						</div>
					</div>
					<div class="item">
						<img src="static/assets/img/home/carrucel2.png" alt="...">
						<div class="carousel-caption">							
						</div>
					</div>
					<div class="item">
						<img src="static/assets/img/home/carrucel3.png" alt="...">
						<div class="carousel-caption">							
						</div>
					</div>
				</div>
				
				<!-- Iconos de control de carousel -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
				</div> <!-- Carousel -->
				</div> <!-- Fin Carousel -->
				<br>
				<br>

				<!-- Lista de caracteristicas
				================================================== -->
				<!-- Container caracteristicas -->
				<div class="container">
					<h1>Infórmate sobre</h1>
					<div class="row destacados">
						<div class="col-md-4">
							<div>
								<img src="static/assets/img/home/documentos.png" alt="Texto Alternativo" class="img-circle img-thumbnail">			
								<h2>Documentos</h2>													
								<a href='{% url "documentos" %}' class="btn btn-primary"  title="Haz click para saber acerca de los documentos necesarios">Leer más »</a>								
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<img src="static/assets/img/home/tramites_opc1.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
								<h2>Trámites</h2>								
								<a href="{% url "tramites" %}" class="btn btn-primary" title="Haz click para saber sobre trámites">Leer más »</a>			
							</div>
						</div>
						<div class="col-md-4">
							<div>
								<img src="static/assets/img/home/organismos.png" alt="Texto Alternativo" class="img-circle img-thumbnail">
								<h2>Organismos</h2>								
								<a href="{% url "organismos" %}" class="btn btn-primary" title="Haz click para saber acerca de los organismos">Leer más »</a>
							</div>
						</div>
					</div>
				</div><!-- Fin container caracteristicas -->
{% endblock %}