{% extends 'base.html'%}

{% block content%}

	<h2> Hola {{get_full_name}} ahora estas dentro del sistema! </h2>
	<p> Haz click <a href="/accounts/logout/"> aqui </a> para salir del sistema. </p>

{% endblock %}