{% extends "base.html" %}


{% block content %}
 

	{% if form.errors %}
		<p class="error"> Lo sentimos, no es un correo o password válida </p>
	{% endif %}

	<div class="row-fluid">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
					<form class="form-signin" action="/accounts/auth/" method="post" role="form" > {% csrf_token %}
				
						<h2 class="form-signin-heading">Ingresar al sistema</h2>

						<label for="password" class="sr-only" >Username:</label>
						<input type="text" name="username" value="" id="username" class="form-control" placeholder="Nombre de usuario" required autofocus>

						{# campo de la contraseña #}
						<label for="password" class="sr-only" >Password:</label>
						<input type="password" name="password" value="" id="password" class="form-control" placeholder="Contraseña" required>

						{# <input type="submit" value="login" /> #}

						<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>

				</form>
				</div>
			<div class="col-md-4">
			</div>
		</div>

{% endblock %}
