<head>
  <link rel="stylesheet" type="text/css" href="/static/css/estilo_navbar.css">
</head>
<!-- Inicio navbar -->
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href='{% url "home" %}' class="navbar-brand">
        <img  style="max-width:150px; margin-top: -2px;"
      src="/static/assets/logo/logo_grande.png" </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul id="nav" class="nav navbar-nav">
        <li>
          <a href='{% url "categorias" %}'  title="Haz click para acceder a las distintas categorías de trámites." >Categorías</a>
        </li>
        <li>
          <a href='{% url "tramites" %}' title="Haz click para saber sobre trámites" >Trámites</a>
        </li>
        <li>
          <a href='{% url "organismos" %}' title="Haz click para saber acerca de los organismos"   >Organismos</a>
        </li>
        <li>
          <a href='{% url "documentos" %}' title="Haz click para saber acerca de los documentos necesarios" >Documentos</a>
        </li>
        <li>
          <a href='{% url "nosotros" %}' title="Haz click para saber más acerca de traminet" >Acerca de</a>
        </li>
        <li>
          <a href="" title="Lo sentimos, esta función no esta implementada.">Soporte</a>
        </li>
      </ul>

      {# Hacer si el user esta logueado #}

      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ user.username }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Tu cuenta</a></li>
	    <li><a href="/agregar_actividad/">Agregar Actividad</a></li>
	    <li><a href="/agregar_documento/">Agregar Documento</a></li>
	    <li><a href="/agregar_ley/">Agregar Ley</a></li>
	    <li><a href="/agregar_oficina/">Agregar Oficina</a></li>
	    <li><a href="/agregar_organismo/">Agregar Organismo</a></li>
	    <li><a href="/agregar_requisito/">Agregar Requisito</a></li>
	    <li><a href="/agregar_tramite/">Agregar Tramite</a></li>
	    <li><a href="/admin_sitio/">Administrar sitio</a></li>
	    <li><a href="/auditor/">Acceder a Auditor</a></li>
            <li><a href="/accounts/logout/">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>

       {# Hacer si el user no esta logueado #}
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Iniciar sesión<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/accounts/login/">Login</a></li>
            <li><a href="/accounts/register/">Registrarse</a></li>
          </ul>
        </li>
      </ul>      
      {% endif %}
  </div>


</div>
</div> <!-- Fin navbar -->


<br> <!-- Espacio -->
<br> <!-- Espacio -->


<script type="text/javascript">
</script>




