{% extends 'base.html' %}

{% block title %}Nosotros{% endblock title %}

{% block content %}

 <!-- Inicio pills -->
    <div class="container">
      <div class="text-center">
        <div class="centered-pills">
          <ul class="nav nav-pills center-pills">
            <li><a href='{% url "home" %}'>Home</a></li>
            <li><a href="#"   title="Haz click para ver los trámites más vistos en el último tiempo"    >Más visitados</a></li>
            <li><a href="#"  title="Haz click para ver los trámites destacados del último tiempo"   >Destacados</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- Fin pills -->

	<div class="container">
		<!-- Introduction Row -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Sobre nosotros
				<small>Es un gusto servirles!</small>
				</h1>
				<p>Traminet es un servicio orientado a entregar a personas información sobre los trámites que necesite realizar en su día a día, de forma detallada, simple y fiable, agiilizando aquellos momemtos tediosos de la vida para liberarle horas únicas e irrecuperables que son necesarias en su vida laboral y doméstica. </p>
			</div>
		</div>
		<hr>
		</div> <!-- /.container -->

{% endblock %}
