{% extends 'base.html' %}

{% block title %}Organismos{% endblock title %}

{% block content %}

<div class="container">
	<h1 class="page-header">Organismos
	  <small>Busca tu organismo</small>
	</h1>	  
	<div class="row">
	  <div class="col-md-4 col-md-offset-3">
	    <form action="" class="search-form">
	      <div class="form-group has-feedback">
	        <label for="search" class="sr-only">Buscar</label>
	        <input type="text" class="form-control" name="search" id="search" placeholder="search">
	        <span class="glyphicon glyphicon-search form-control-feedback"></span>
	      </div>
	    </form>
	  </div>
	  <div class="boton_agregar">
	    <form action="/agregar_organismo" method="GET">
              <input type="submit" class="btn btn-default navbar-btn" title="Haz click para agregar organismos" value="Agregar Organismo">
	    </form>
          </div>
	</div>

	<div class = "container-fluid">
    	  <div class = "row">
	    <ul>
	      {% for elemento in lista_organismos %}
	        <div class="col-md-4">				
		  <a href='/organismos/{{elemento.organismo_id}}' title="Haz click para ver documento" class="a-text">
		    <center><img src="/static/assets/img/organismos/organismo.png" alt="Texto Alternativo" class="img-thumbnail"></center>
		  </a>
		  <h5> <center> {{ elemento.organismo_nombre }} </h5> </center>
		  <br><br><br>								
	        </div>
	      {% endfor %}
	    </ul>
          </div>
  	</div>
</div>

<script type="text/javascript">
</script>

{% endblock %}
