{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">

	<h1 class="page-header">Trámite
	<small>{{tramite.tramite_titulo}}</small>
	</h1>

	<br>
	<div class = "row-fluid">
		<div class="col-md-9">							
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Descripción</h3>
			   </div>
			   <div class="panel-body">
			      {{tramite.tramite_descripcion}}
			      <br><br>
			      Plazos:<br>
			      {%if tramite.tramite_dur_anual == True%}

					Se puede realizar durante todo el año

			      {%else%}
			      	Se puede realizar desde {{tramite.tramite_inicio}} hasta {{tramite.tramite_fin}}
			      {%endif%}

			   </div>				
			</div>
			  			  
			  <h3>Seleccione la modalidad</h3>
			  <br>

			<div class="btn-group border" role="group" aria-label="...">
		      	{% for elemento in modalidades %}		      		
	        		<a href="{{elemento.modalidad_id}}"><button type="button" class="btn btn-default">{{elemento.modalidad_titulo}}</button></a>		      		
				{%endfor%}						
			</div>
			
			<div class="border">							
				{%block modalidades%}
				{%endblock%}
			</div>			
		</div>
	</div>
	<div class="col-md-3">			
				
		<div class="panel panel-info">
		   <div class="panel-heading">
		      <h3 class="panel-title">Relacionados</h3>
		   </div>
		   <div class="panel-body">

			{% if relacionados %}				   
		      {% for elemento in relacionados%}
		      	
		      		<h5>{{elemento.tramite_titulo}}<h5>

		      {% endfor%}
		    {% else %}
		    	<h5>No existen trámites relacionados</h5>
		    {% endif %}
		   </div>
		</div>					

		<div class="panel panel-info" >
		   <div class="panel-heading">
		      <h3 class="panel-title">Requisitos</h3>

		   </div>
		   <div class="panel-body">
		   {% if requisitos %}
		      {% for elemento in requisitos%}
		      	
		      		<h5>{{elemento.requisito_titulo}}</h5>				      	

		      {% endfor%}
			{% else %}
				<h5>No existen requisitos para este trámite</h5>
			{% endif %}						
		   </div>
		</div>

		<div class="panel panel-info" >
		   <div class="panel-heading">
		      <h3 class="panel-title">Documentos</h3>
		   </div>
		   <div class="panel-body">
	      	{% if documentos %}
		      	{% for elemento in documentos%}
		      	
		      		<h5>{{elemento.documento_titulo}}</h5>

	         	{% endfor%}
			{% else %}
				<h5>Este trámite no requiere documentos</h5>
			{% endif %}		
		   </div>
		</div>

		<div class="panel panel-info" >
		   <div class="panel-heading">
		      <h3 class="panel-title">Marco Legal</h3>
		   </div>
		   <div class="panel-body">
		   {% if leyes %}
		      {% for elemento in leyes%}

		      		<h5>{{elemento.ley_titulo}}</h5>

		      {% endfor%}
		      {% else %}
				<h5>Este trámite no posee marco legal</h5>
			{% endif %}
		   </div>
		</div>

		<div class="panel panel-info" >
		   <div class="panel-heading">
		      <h3 class="panel-title">Organismo</h3>
		   </div>
		   <div class="panel-body">
		      	<h5> {{organismo.organismo_nombre}} </h5>
		   </div>
		</div>			
	</div>				
</div>       


<script type="text/javascript">
	
	$(document).ready(function() {
		$('#rootwizard').bootstrapWizard({'tabClass': 'nav nav-tabs'});
    });

</script>
    

{% endblock %}