{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">

	<h1 class="page-header">Documento
	<small>{{documento.documento_titulo}}</small>
	</h1>

	<br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="col-md-5">	
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Descripción</h3>
				   </div>
				   <div class="panel-body">
				      {{documento.documento_descripcion}}			      			      
				   </div>				
				</div>
			</div>	
			<div class="col-md-3">								
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Tipo documento</h3>
				   </div>
				   <div class="panel-body">

					{% if documento.documento_tipo %}				   			      
				      	
			      		<h5>{{documento.documento_tipo}}</h5>
				      
				    {% else %}
				    	<h5>No registrado</h5>
				    {% endif %}
				   </div>
				</div>					
			</div>		
			<div class="col-md-4">						
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Formato y costo</h3>
				   </div>
				   <div class="panel-body">
			      	{% if formatos %}			      	
				      	
				      	{% for elemento in formatos %}
				      	<ul>
				      		{% if elemento.formato_doc_nombre == "V" %}				      			
				      			<li><h5>Virtual: ${{elemento.formato_doc_costo}}</h5></li>
				      		{% else %}
				      			<li><h5>Fisico: ${{elemento.formato_doc_costo}}</h5></li>
				      		{% endif %}				      		
			      		</ul>
				      	{% endfor %}			         	
					{% else %}
						<h5>No registrado</h5>
					{% endif %}		
				   </div>
				</div>
			</div>
		</div>	
	</div>
</div>       

{% endblock %}
