{% extends 'pag_tramite.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block modalidades %}

<div id="rootwizard" class="tabbable tabs-left border" >

<div class="row">
<div class = "col-md-2">
	<ul class="nav nav-tabs sig border">

		{% for etapa in matriz_etapa_act_mod %}
	    	<li><a href="#tab{{forloop.counter}}" data-toggle="tab">Paso {{etapa.0.6}}</a></li>
	    {% endfor %}

	    	<li><a href="#tabF" data-toggle="tab">Resultado</a></li>
    </ul>
</div>
<div class = "col-md-10">
    <br>
	<div class="tab-content">	    

	    {% for elemento in matriz_etapa_act_mod %}			    		    	    	
    		<div class="tab-pane" id="tab{{forloop.counter}}">	    		
			    
    			<h4><b>Actividad: </b>{{elemento.2.actividad_titulo}}</h4><br>

		    	<div class="row">
		    		<div class="col-md-7">		    			
	    				<div class="panel panel-info">
	    					<div class = "panel-heading">
	    						<h3 class="panel-title">Pasos a seguir</h3>
    						</div>
    						<div class="panel-body">
								<h5>{{elemento.1.4}}</h5>
    						</div>
    					</div>		    						    							
    				</div>	

    				<div class="col-md-4">    					
						<div class="panel panel-info" style="margin-right:-25px">
							<div class = "panel-heading">
	    						<h3 class="panel-title">Doc Actividad</h3>
    						</div>
    						<div class="panel-body" >
								{%if elemento.4%}

									{% for doc in elemento.4 %}

										<h5> {{doc.0}} </h5>

									{%endfor%}

								{%else%}
										<h5> Sin documentos </h5>								
								{%endif%}
    						</div>    							
						</div>  

						<div class="panel panel-info" style="margin-right:-25px">
							<div class = "panel-heading">
	    						<h3 class="panel-title">Costos</h3>
    						</div>
    						<div class="panel-body">
								<h5>${{elemento.1.3}}</h5>								    										
    						</div>    							
						</div>
						<div class="panel panel-info" style="margin-right:-25px">
							<div class = "panel-heading">
	    						<h3 class="panel-title">Tiempo estimado</h3>
    						</div>
    						<div class="panel-body">
								<h5>{{elemento.1.2}} minutos</h5>								    										
    						</div>    							
						</div>        					  				
    				</div>	    			
	    		</div>

	    		
    			<div class="panel panel-info" style="margin-right: 23px">
					<div class = "panel-heading">
						<h3 class="panel-title">Información Adicional</h3>
					</div>
					<div class="panel-body">
							
							{% if elemento.3.modalidad_titulo == "En Oficina" %}

								{%if elemento.1.6 %}
									<h4>{{elemento.1.6}} <a href={{elemento.1.5}}>el siguiente link</a>
									<h4>
								{%endif%}

								{% if elemento.5 %}
									<h4>Oficinas habilitadas:</h4>
									
									{% for oficina in elemento.5 %}										
									<div class="container-fluid border">
										<div class="col-md-7">											
											<h5> {{oficina.oficina_nombre}} </h5>
											<h5> {{oficina.oficina_direccion}} </h5>
											<h5> Horario de atención: {{oficina.oficina_horario}}</h5>
										</div>
										
										<div class="col-md-5">
											{% if oficina.oficina_tel_fijo %}						
													
												<h5> Teléfono: {{oficina.oficina_tel_fijo}}</h5>
											{% else %}
												<h5> Teléfono: No registrado</h5>
											{%endif%}
											{% if oficina.oficina_tel_celu %}
												<h5> Celular: {{oficina.oficina_tel_celu}}</h5>
											{%else%}
												<h5> Celular: No registrado</h5>
											{%endif%}
										</div>										
									</div>									
									{%endfor%}

								{%else%}
									<h4>No hay oficinas registradas</h4>
								{% endif %}


							{% elif elemento.3.modalidad_titulo == "En Linea" %}

								{%if elemento.1.6%}
									<h4>{{elemento.1.6}} <a href={{elemento.1.5}}> el siguiente link</a>
									<h4>
								{% else %}
									<h4>No hay información adicional</h4>
								{%endif%}

							{% elif elemento.3.modalidad_titulo == "Por teléfono" %}

								{%if elemento.1.6%}
									<h4>{{elemento.1.6}} [{{elemento.1.7}}]
									<h4>
								{% else %}
									<h4>No hay información adicional</h4>
								{%endif%}

							{% elif elemento.3.modalidad_titulo == "Por correo" %}

								{%if elemento.1.6%}
									<h4>{{elemento.1.6}} [{{elemento.1.7}}]
									<h4>
								{% else %}
									<h4>No hay información adicional</h4>
								{%endif%}

							{% else %}
									<h4>Trámite con errores, visitenos más tarde!
									<h4>
							{%endif%}

					</div>    							
				</div>	    			    				    			    	
	    	</div>    
    	{% endfor %}

    	<div class="tab-pane" id="tabF">
    		<div class="container-fluid">
    			<h4><center> {{tramite.tramite_resultado}}</center> </h4>
    		</div>
    	</div>

    </div>
</div>
</div>
    		        		
	<ul class="pager">
		<li><a href="#">Anterior</a></li>
		<li><a href="#">Siguiente</a></li>
	</ul>
</div>	

{%endblock%}