{% extends 'base.html' %}

{% block title %}Traminet tu red de trámites{% endblock title %}

{% block content %}

<link rel="stylesheet" type="text/css" href="/static/css/estilo_base.css">

<div class="container">

	<h1 class="page-header">Organismo
	<small>{{organismo.organismo_nombre}}</small>
	</h1>

	<br>
	<div class="container">
		<div class = "row-fluid">								
			<div class="panel panel-info">
			   <div class="panel-heading">
			      <h3 class="panel-title">Descripción</h3>
			   </div>
			   <div class="panel-body">
			      {{organismo.organismo_descripcion}}			      			      
			   </div>				
			</div>
		</div>
	</div>
	<div class="container">
		<div class = "row-fluid">		
			<div class="col-md-4">			
					
				<div class="panel panel-info">
				   <div class="panel-heading">
				      <h3 class="panel-title">Telefono Fijo</h3>
				   </div>
				   <div class="panel-body">

					{% if organismo.organismo_tel_fijo %}				   			      
				      	
			      		<h5>{{organismo.organismo_tel_fijo}}</h5>
				      
				    {% else %}
				    	<h5>No registrado</h5>
				    {% endif %}
				   </div>
				</div>					
			</div>		
			<div class="col-md-4">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Celular</h3>
				   </div>
				   <div class="panel-body">
				   	{% if organismo.organismo_tel_celu %}			      			      	
			      		
			      		<h5>{{organismo.organismo_tel_celu}}</h5>				      				      
					{% else %}
						<h5>No registrado</h5>
					{% endif %}						
				   </div>
				</div>
			</div>
			<div class="col-md-4">			
				<div class="panel panel-info" >
				   <div class="panel-heading">
				      <h3 class="panel-title">Página Web</h3>
				   </div>
				   <div class="panel-body">
			      	{% if organismo.organismo_pagina_web %}			      	
				      	
				      	<a href={{organismo.organismo_pagina_web}}>{{organismo.organismo_pagina_web}}</a>
			         	
					{% else %}
						<h5>No registrado</h5>
					{% endif %}		
				   </div>
				</div>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="row-fluid">

			<div class = "row-fluid">								
				<div class="panel panel-info">
			   		<div class="panel-heading">
			      		<h3 class="panel-title">Oficinas</h3>
			   		</div>
			   		<div class="panel-body">
			      		<div class="container-fluid">
			      			<div class="row">
			      				<div class = "col-md-5">
			      					
			      				</div>
			      				<div class="col-md-7">
			      					<div class="row">
			      						<div class="col-md-4">
			      							<select class="form-control">
			      									<option>Regiones...</option>
			      								{% for elemento in regiones%}
			      									<option>{{elemento.region_nombre}}</option>
			      								{% endfor %}			      								
			      							</select>
			      						</div>
			      						<div class="col-md-4">
			      							<select class="form-control">
			      									<option>Provincias...</option>
			      								{% for elemento in provincias%}
			      									<option>{{elemento.provincia_nombre}}</option>
			      								{% endfor %}			      								
			      							</select>
			      						</div>
			      						<div class="col-md-4">
			      							<select class="form-control">
			      									<option>Comunas...</option>
			      								{% for elemento in comunas%}
			      									<option>{{elemento.comuna_nombre}}</option>
			      								{% endfor %}			      								
			      							</select>
			      						</div>
			      					</div>
			      				</div>
			      			</div>
			      		</div>
			   		</div>				
				</div>
			</div>		
		</div>
	</div>				
</div>       


{% endblock %}