 <!-- Inicio pills -->
    <div class="container">
      <div class="text-center">
        <div class="centered-pills">
          <ul class="nav nav-pills center-pills">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#"   title="Haz click para ver los trámites más vistos en el último tiempo"    >Más visitados</a></li>
            <li><a href="#"  title="Haz click para ver los trámites destacados del último tiempo"   >Destacados</a></li>
          </ul>
        </div>
      </div>
    </div> <!-- Fin pills -->