{% extends 'base.html' %}
{% block title %}Registro{% endblock title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">

			<div class="page-header">
				<h2>Formulario de registro</h2>
			</div>

			<form id="registrationForm" method="post" class="form-horizontal">
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Nombre</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="nombre" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Apellido Paterno</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="nombre" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Apellido Materno</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="nombre" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Correo electrónico</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="email" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Contraseña</label>
					<div class="col-sm-5">
						<input type="password" class="form-control" name="password" />
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Fecha de nacimiento</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="birthday" placeholder="Día/Mes/Año" />
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-3 control-label">Región</label>
					<div class="col-sm-5">
						<form method="POST">
							<select name="item_region_id"  >
								{% for region in lista_region %}
    								<option value="{{ region.region_id }}">{{ region.region_nombre }}</option>
								{% endfor %}
							</select>
						</form>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Provincia</label>
					<div class="col-sm-5">
						<form method="POST">
							<select name="item_provincia_id">
								{% for provincia in lista_provincia %}
    								<option value="{{ provincia.provincia_id }}">{{ provincia.provincia_nombre }}</option>
								{% endfor %}
							</select>
						</form>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Comuna</label>
					<div class="col-sm-5">
						<form method="POST">
							<select name="item_comuna_id">
								{% for comuna in lista_comuna %}
    								<option value="{{ comuna.comuna_id }}">{{ comuna.comuna_nombre }}</option>
								{% endfor %}
							</select>
						</form>
						
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-9 col-sm-offset-3">
						<!-- Do NOT use name="submit" or id="submit" for the Submit button -->
						<button type="submit" class="btn btn-default">Registrarse</button>
					</div>
				</div>
			
			</form>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts_validacion %}
	<script>
	$(document).ready(function() {
	$('#registrationForm').bootstrapValidator({
	// To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
	feedbackIcons: {
	valid: 'glyphicon glyphicon-ok',
	invalid: 'glyphicon glyphicon-remove',
	validating: 'glyphicon glyphicon-refresh'
	},
	fields: {
	nombre: {
	message: 'El nombre no es válido',
	validators: {
	notEmpty: {
	message: 'El nombre es un campo obligatorio y no puede estar vacío'
	},
	stringLength: {
	min: 3,
	max: 30,
	message: 'El nombre debe tener como mínimo 3 caracteres y máximo 30'
	},
	regexp: {
	regexp: /^[a-zA-Z0-9]+$/,
	message: 'The username can only consist of alphabetical and number'
	},
	different: {
	field: 'password',
	message: 'El nombre y la contraseña deben ser diferentes'
	}
	}
	},
	email: {
	validators: {
	notEmpty: {
	message: 'La dirección de correo electrónico es un campo obligatorio y no puede estar vacío'
	},
	emailAddress: {
	message: 'La dirección de correo electrónico no es valida'
	}
	}
	},
	password: {
	validators: {
	notEmpty: {
	message: 'El campo de la contraseña es obligatorio y no puede estar vacío'
	},
	different: {
	field: 'nombre',
	message: 'La contraseña no puede ser igual al nombre'
	},
	stringLength: {
	min: 3,
	message: 'La contraseña debe tener a lo menos 3 caracteres'
	}
	}
	},
	birthday: {
	validators: {
	notEmpty: {
	message: 'La fecha de nacimiento es requerida'
	},
	date: {
	format: 'DD/MM/YYYY',
	message: 'La fecha de nacimiento no es válida'
	}
	}
	},
	}
	});
	});
	</script>
{% endblock %}