{% extends "base.html" %}

{% block content %}
 <div class="container-fluid">
	<section class="container">
		<div class="container-page">
			<h2> Registro <h2>
			<form action="/accounts/register/" method="post">{% csrf_token %}
					
					{% for field in form %}
	    				<div class="fieldWrapper">
        					{# {{ field.errors }} #}
        					{{ field.label_tag }} {{ field }}
    					</div>
    				{% endfor %}								
             <br>
			<button type="submit" class="btn btn-primary">Registrar</button>
		</div>

	</section>

 {% endblock %}
