{% extends 'base.html' %}

{% block title %}Trámites{% endblock title %}

{% block content %}

<div class="container">
  
  <h1 class="page-header">Trámites 
    <small>Busca tu trámite</small>
  </h1>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-3">
        <form action="" class="search-form">
            <div class="form-group has-feedback">
            <label for="search" class="sr-only">Buscar</label>
            <input type="text" class="form-control" name="search" id="search" placeholder="search">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>
        </form>
    </div>
  </div>

	<div class = "container-fluid">
	  <div class= "row">
	      <ul>
	      {% for elemento in lista_tramites %}
	       
	      <div class="col-md-6">
	      <a href='{{elemento.tramite_id}}' title="Haz click para mas información" class="a-text">
	          <div class="well well-lg"> 
	              <div class="row">
	                <div class="col-sm-4">
	                  <img src="/static/assets/img/tramites/icono.png" alt="Texto Alternativo" class="img-responsive">
	                </div>
	                <div class="col-sm-8">
	                  <h4>{{elemento.tramite_titulo}}</h4>
	                </div>
	              </div>
	          </div>
	      </a>
	    </div>
      	{% endfor %}
	      </ul>
	  </div>
	 </div>

</div>

<script type="text/javascript">
</script>
    
  
{% endblock %}
